<a href="https://colab.research.google.com/github/agarwalpratik/aiml/blob/main/SMOTE_SystematicMinorityOversamplingTech.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#SMOTE - Synthetic Minority Oversampling technique
#pip install imbalanced-learn

In [ ]:
import pandas as pd
from imblearn.over_sampling import SMOTE

In [ ]:
# Load the dataset

data = pd.read_csv('winequality-red.csv')

In [ ]:
data.quality.value_counts()

quality
5    681
6    638
7    199
4     53
8     18
3     10
Name: count, dtype: int64

In [ ]:
# Separate the features and target
X = data.drop(columns=['quality'])
y = data['quality']

In [ ]:
# Apply SMOTE
smote = SMOTE(random_state=1)
X_resampled, y_resampled = smote.fit_resample(X, y)

In [ ]:

# Combine the resampled features and target into a single dataframe
resampled_data = pd.concat([pd.DataFrame(X_resampled, columns=X.columns), pd.DataFrame(y_resampled, columns=['quality'])], axis=1)

In [ ]:
# Display the resampled class distribution
print(resampled_data['quality'].value_counts())

quality
5    681
6    681
7    681
4    681
8    681
3    681
Name: count, dtype: int64